* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.link {
	text-decoration: none;
	color: #fff;
}

.hero {
	background: url('./assets/dumbbell.jpg');
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
